#control-course ul li {
    width: 100%;
    margin: 3px;
    padding: 0;
}

#control-course ul li button {
    text-align: left;
    border-radius: 3px;
    font-size: 14px;
}

#control-course ul li>button {
    width: inherit;
}


#control-course ul li .parallel-buttons button i {
    margin: 3px;
}


#control-course ul li .parallel-buttons button i {
    margin: 3px;
}

.course-info {
    padding: 10px;
}

.panel {
    width: 300px;
    margin: 20px 0px 20px 0px;
}

.panel .panel-title {
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;
}
