.breadcrumb {
    margin-left: 20px;
}

.wd-content-header hr {
    margin-left: 20px;
    margin-right: 30px;
    color: black;
}

.wd-profile .wd-profile-icon {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 150px;
}