.wd-course-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 120px;
    margin: 0px;
    margin-left: 20px;
}

.wd-course-navigation li {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.8em;
}

.wd-course-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-course-navigation li.wd-active a {
    color: black;
}

.wd-course-navigation a {
    color: red;
    text-decoration: none;
}

.wd-course-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}